.sideBar-container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  background: #222;
  box-sizing: border-box;
}

.logout-icon {
  color: #f78d8d;
  position: absolute;
  left: .5em;
  top: .5em;
  font-size: 2em;
  cursor: pointer;
  width: 50px;
  border: none;
  height: 50px;
  border-radius: 5em;
  font-size: 2em;
  cursor: pointer;
  margin-top: 3rem;
  left: 30%
}

.usernameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.usernameDiv h1 {
  font-size: 24px;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  color: #f1f1f1;

}

.user-icon {
  color: rgb(22, 223, 156);
  padding: .5em;
  border: solid 5px rgba(15, 236, 133, 0.582);
  border-radius: 50em;
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  box-shadow: 0px 1px 5px 5px rgba(38, 238, 105, 0.329);
}

.create-room {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;

}

.create-room button {
  width: 50px;
  border: none;
  height: 50px;
  border-radius: 5em;
  font-size: 2em;
  color: #f1f1f1;
  background-color: #0acef123;
  box-shadow: 0px 1px 5px 5px rgba(38, 165, 238, 0.329);
  cursor: pointer;
}

.create-room button:hover {
  background-color: #0acff1b4;
  transform: rotate(180deg);
}

.available-rooms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
}

.available-rooms-container h5 {
  font-family: 'Times New Roman', Times, serif;
  color: #f1f1f1;

}

.rooms-list {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.rooms-list button {
  border: none;
  width: 99%;
  height: 50px;
  padding: 1em;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.135);
  font-size: 1em;
  margin-bottom: .5em;
  margin-top: .2em;
  transition: all .55s;
  cursor: pointer;
}

.rooms-list button:hover {
  font-size: 1.2em;
  height: 60px;
  background-color: #333;
}

.online-users-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  color: #f1f1f1;
  font-size: .8em;
}

.user-list-icon {
  color: rgb(22, 223, 156);
  padding: 1em;
  border: solid 1px rgba(15, 236, 133, 0.582);
  border-radius: 5em;
  text-transform: uppercase;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: .2em;
  font-weight: 900;
  box-shadow: 0px 1px 2px 2px rgba(38, 238, 105, 0.329);
  margin-right: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.online-users-list {
  display: flex;
  align-items: center;
}

.online-user {
  text-transform: capitalize;
}

.room-users-list {
  display: flex;
  align-items: center;
}

.room-users-container {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: 200px;
  background: linear-gradient(#222020, #202027);
  height: 100%;
  color: #f1f1f1;
  padding-left: 2em;
  /* display: none; */
}

.room-users-container.active {
  display: block;
}

.none {
  display: none;

}